.header{
    position :fixed;
    display:flex;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index :1;
    width :100%;
    height :80px;
    background-color :rgb(14, 16, 141);
    border-bottom-left-radius: 70% 20%;
    border-bottom-right-radius: 70% 20%;
}

input,button{
    padding: 10px;
    margin: 10px;
    border: none;
}
 button{
    background-color: cornflowerblue;
    border-radius: 5%;
}