.Main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap:25px;
    margin-top:100px;
}
.student{
    background-color: aqua;
    padding: 10px;
    width:200px;
    height:200px;
    text-align: center;
    display:flex;
    flex-flow:column;
    justify-content: center;
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 850px) {
    .Main{
        grid-template-columns: 1fr 1fr;
        grid-gap:50px;
    }

    .student{
        width:300px;
        height:300px;
    }
}

@media only screen and (max-width: 500px) {
    .Main{
        grid-template-columns: 1fr;
    }

    .student{
        width:100%;
        height:100%;
    }
}