.Student{
    margin: 90px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.Students{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.link{
    grid-column: 1/3;
    justify-items: center;
}

@media only screen and (max-width: 500px) {
    .Students{
        grid-template-columns: 1fr;
    }
}